In [50]:
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [51]:

totalschools = school_data["School ID"].count()
totalschools

15

In [52]:
totalstudents = student_data["Student ID"].count()
totalstudents

39170

In [53]:
totalbudget = school_data["budget"]. sum()
totalbudget

24649428

In [54]:
avgmathscore = student_data["math_score"].mean()
avgmathscore

78.98537145774827

In [55]:
avgreadscore = student_data["reading_score"].mean()
avgreadscore

81.87784018381414

In [58]:
#passing math 
passedmath = student_data[student_data.math_score > 70]
passed_math = passedmath["math_score"].count() / totalstudents
passed_math

0.7239213683941792

In [59]:
#passing reading
passedread = student_data[student_data.reading_score > 70]
passed_read = passedread["reading_score"].count() / totalstudents
passed_read

0.8297166198621394

In [60]:
#overall passing 
passedboth = student_data[(student_data["math_score"] > 70) & (student_data["reading_score"] > 70)].count()["Student ID"]
passedboth

23816

In [61]:
#data frame for everything above 
districtdf = pd.DataFrame([
    {"totalschools": totalschools,
    "totalstudents" : totalstudents,
    "totalbudget": totalbudget,
    "avgreadscore": avgreadscore, 
    "avgreadscore" : avgreadscore,
    "passedmath" : passed_math,
    "passedread" : passed_read,
    "passedboth" : passedboth}
])
districtdf

,totalschools,totalstudents,totalbudget,avgreadscore,passedmath,passedread,passedboth
0,15,39170,24649428,81.87784,0.723921,0.829717,23816

In [5]:
# School Summary

In [65]:
#school name
name = school_data["school_name"]
name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [19]:
#School type
school_type = school_data["type"]
school_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [23]:
# Total students
student_total = student_data["Student ID"].count()
student_total

39170

In [25]:
# Total school budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [70]:
# Per student budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [27]:
# Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [28]:
# Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [29]:
# % passing math (the percentage of students who passed math)
passedmath = student_data[student_data.math_score > 70]
passed_math = passedmath["math_score"].count() / totalstudents
passed_math

0.7239213683941792

In [30]:
# % passing reading (the percentage of students who passed reading)
passedread = student_data[student_data.reading_score > 70]
passed_read = passedread["reading_score"].count() / totalstudents
passed_read

0.8297166198621394

In [32]:
# overall passing (the percentage of students who passed math AND reading)
passedboth = student_data[(student_data["math_score"] > 70) & (student_data["reading_score"] > 70)].count()["Student ID"]
passedboth

23816

In [72]:
#Display school summary 

Schoolsummarydf = pd.DataFrame([
    {
       "name": name,
      "total_budget": total_budget,
    "school_type" : school_type,
    "per_school_budget": per_school_budget},
    "average_math_score" : average_math_score,
    "average_reading_score" : average_reading_score,
    "passed_math" : passed_math,
    "passed_read" : passed_read,
    "passedboth" : passedboth
])
Schoolsummarydf

                                   per_school_budget
0  school_name
Bailey High School       3124928.0...

In [84]:
sg = school_data_complete. groupby(["school_name", 'type', 'budget']).size()
sg

school_name            type      budget
Bailey High School     District  3124928    4976
Cabrera High School    Charter   1081356    1858
Figueroa High School   District  1884411    2949
Ford High School       District  1763916    2739
Griffin High School    Charter   917500     1468
Hernandez High School  District  3022020    4635
Holden High School     Charter   248087      427
Huang High School      District  1910635    2917
Johnson High School    District  3094650    4761
Pena High School       Charter   585858      962
Rodriguez High School  District  2547363    3999
Shelton High School    Charter   1056600    1761
Thomas High School     Charter   1043130    1635
Wilson High School     Charter   1319574    2283
Wright High School     Charter   1049400    1800
dtype: int64

In [ ]:
# Highest-Performing Schools (by % Overall Passing)

In [33]:
# School name
name = school_data["school_name"]
name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [34]:
# School type
school_type = school_data["type"]
school_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [36]:
# Total students
student_total = student_data["Student ID"].count()
student_total

39170

In [37]:
# Total school budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [38]:
# Per student budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [ ]:
# Average math score
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

In [ ]:
# Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

In [ ]:
# % passing math (the percentage of students who passed math)
passedmath = student_data[student_data.math_score > 70]
passedmath["math_score"].count() / totalstudents

In [ ]:
# % passing reading (the percentage of students who passed reading)
passedread = student_data[student_data.reading_score > 70]
passedread["reading_score"].count() / totalstudents

In [ ]:
# % overall passing (the percentage of students who passed math AND reading)
passedboth = student_data[(student_data["math_score"] > 70) & (student_data["reading_score"] > 70)].count()["Student ID"]
passedboth

In [ ]:
# display
#Display Highest Performing Schools  

Sdf = pd.DataFrame([
    {
       "name": name,
      "total_budget": total_budget,
    "school_type" : school_type,
    "per_school_budget": per_school_budget},
    "average_math_score" : average_math_score,
    "average_reading_score" : average_reading_score,
    "passed_math" : passed_math,
    "passed_read" : passed_read,
    "passedboth" : passedboth
])
Schoolsummarydf

In [ ]:
# Lowest-Performing Schools (by % Overall Passing)

In [ ]:
# School name
name = school_data["school_name"]
name

In [ ]:
# School type
school_type = school_data["type"]
school_type

In [ ]:
# Total students
student_total = student_data["Student ID"].count()
student_total

In [ ]:
# Total school budget
total_budget = school_data["budget"].sum()
total_budget

In [ ]:
# Per student budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

In [ ]:
# Average math score
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

In [ ]:
# Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

In [ ]:
# % passing math (the percentage of students who passed math)
passedmath = student_data[student_data.math_score > 70]
passedmath["math_score"].count() / totalstudents

In [ ]:
# % passing reading (the percentage of students who passed reading)
passedread = student_data[student_data.reading_score > 70]
passedread["reading_score"].count() / totalstudents

In [ ]:
# % overall passing (the percentage of students who passed math AND reading)
passedboth = student_data[(student_data["math_score"] > 70) & (student_data["reading_score"] > 70)].count()["Student ID"]
passedboth

In [ ]:
# display

In [ ]:
# Math Scores by Grade

In [ ]:
#Create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
# display

In [ ]:
#Reading Scores by Grade

In [ ]:
# Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.#

In [ ]:
# display